
#loader-wrap {
    display: flex;
    position: fixed;
    background-color: #7B7672;
    top: 0;
    bottom: 0;
    right: 0%;
    left: 0;
    z-index: 99;
    user-select: none;
}



.loader-wolf {
    display: block;
    margin: 0 auto;
    justify-content: center;
    stroke-width: 2.5px;
    stroke: rgb(255, 255, 255);
    fill: none;
    width: 75px;
    transform: scale(1);
    animation: zoomout 1200ms cubic-bezier(0.83, 0, 0.17, 1) forwards;
    animation-delay: 2900ms;
  }
  @keyframes zoomout {
from {
    transform: scale(1);
}
30% {
    transform: scale(1.1);
}
40% {
    transform: scale(1.1);
}
to {
    transform: scale(.5);
}
  }
          .path-a {
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
           animation: dash1 10s cubic-bezier(0.22, 1, 0.36, 1) forwards;
          }
        
          @keyframes dash1 {
            from {
              stroke-dashoffset: 1000;
              opacity: 0;
            }
            to {
              stroke-dashoffset: 0;
            }
            30% {
              opacity: 1;
            }
          }
          .path-c {
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
            animation: dash2 2750ms cubic-bezier(0.76, 0, 0.30, 1) forwards;
            animation-delay: 1s;
          }
          @keyframes dash2 {
            from {
              stroke-dashoffset: 1000;
             opacity: 0;
            }
            to {
              stroke-dashoffset: 0;
            }
            30% {
             opacity: 1;
            }
          }
        
          .path-b {
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
            animation: dash3 3s cubic-bezier(0.76, 0, 0.30, 1) forwards ;
            animation-delay: 1500ms;
          }
          @keyframes dash3 {
            from {
              stroke-dashoffset: 1000;
              opacity: 0;
            }
            to {
              stroke-dashoffset: 0;
            }
            30% {
             opacity: 1;
            }
          }

